@model Control.Web.Core.Models.GeneralUsuarios

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>GeneralUsuarios</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Administrador)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Administrador)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Clave)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Clave)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Activo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Activo)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdUsuario">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
