@model Control.Web.Core.Models.InventarioProductos

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>InventarioProductos</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Identificador)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Identificador)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PrecioUnitario)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PrecioUnitario)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PrecioVenta)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PrecioVenta)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Impuestos)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Impuestos)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.VerificaDisponible)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.VerificaDisponible)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Descuento)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Descuento)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Utilidad)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Utilidad)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IdCategoriaNavigation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IdCategoriaNavigation.Descripcion)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IdProveedorNavigation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IdProveedorNavigation.Correo)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdProducto">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
